.container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-top: 10%;
}

.search {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  padding: auto;
}
